.loginDiv {
  background-color: white;
  border-radius: 1rem;
  width: 30rem;
  height: 30rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.loginDiv h1 {
  color: rgb(104, 102, 102);
  font-size: 1.8rem;
  margin: 1.5rem;
}
.loginDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginDiv form .input {
  padding: 1.2rem;
  margin: 1.2rem;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid rgb(104, 102, 102);
}
.loginDiv form .input:focus {
  outline: none;
}
.loginDiv p {
  color: rgb(104, 102, 102);
  font-size: 1.2rem;
}
.loginDiv button {
  padding: 1rem;
  font-size: 1.2rem;
  width: 50%;
  color: rgb(104, 102, 102);
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
}

.home {
  height: 100vh;
  width: 190vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7bcff;
}
.home .container {
  border: 1px solid white;
  border-radius: 15px;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;
}
.home .container .sidebar {
  flex: 1;
  background-color: rgba(0, 60, 68, 0.945);
}
.home .container .chat {
  flex: 2;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(0, 60, 68, 0.945);
}
.navBar span {
  font-size: 1rem;
  margin: 0.3rem;
  font-weight: bold;
}
.navBar div {
  display: flex;
  justify-content: end;
}
.navBar button {
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.userChat {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.userChat img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5rem;
  margin: 1rem;
}
.userChat span {
  font-size: 1.2rem;
  font-weight: bold;
}
.userChat:hover {
  background-color: rgba(1, 132, 150, 0.945);
  cursor: pointer;
}

.searchUser {
  display: flex;
  flex-direction: column;
}
.searchUser .search {
  margin: 0.3rem;
  display: flex;
  justify-content: center;
}
.searchUser .search input {
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-style: oblique;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  color: white;
}
.searchUser .search input::-moz-placeholder {
  color: white;
}
.searchUser .search input:-ms-input-placeholder {
  color: white;
}
.searchUser .search input::placeholder {
  color: white;
}
.searchUser img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5rem;
  margin: 1rem;
}
.searchUser span {
  font-size: 1.2rem;
  font-weight: bold;
}
.searchUser .searchChat {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchUser .searchChat:hover {
  background-color: rgba(1, 132, 150, 0.945);
  cursor: pointer;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat .chatInfo {
  background-color: rgba(1, 102, 116, 0.945);
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.chat .chatInfo span {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.3rem;
}
.chat .messages {
  background-color: rgba(167, 240, 250, 0.534);
  height: 100%;
  overflow: scroll;
}
.chat .messages .message {
  display: flex;
  gap: 20px;
}
.chat .messages .message .messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}
.chat .messages .message .messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat .messages .message .messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chat .messages .message .messageContent img {
  width: 50px;
}
.chat .messages .message .messageContent p {
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  font-size: 1rem;
  font-weight: bold;
}
.chat .messages .message.owner {
  flex-direction: row-reverse;
}
.chat .messages .message.owner p {
  border-radius: 10px 0px 10px 10px;
  background-color: rgba(3, 142, 160, 0.534);
  font-weight: bold;
  color: white;
}
.chat .inputChat {
  background-color: white;
  display: flex;
  align-items: center;
}
.chat .inputChat input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  outline: none;
}
.chat .inputChat .send {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.chat .inputChat .send button {
  background-color: rgba(1, 102, 116, 0.945);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
}/*# sourceMappingURL=style.css.map */